@import "../../scss/index.scss";

.super-table{
    .p-datatable .p-datatable-tbody > tr > td{
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: gray;
        font-weight: bold;
    }

    .p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
        border-right-style: solid;
        border-right-width: 1px !important;
        border-right-color: gray;
        font-weight: bold;
    }

    padding-bottom: 50px;
    thead tr th{
        background: $background-super-dark !important;
    }

    thead tr th div span{
        color: $text-light;
        font-weight: bold;
    }

    header{
        justify-content: space-between;
    }

    .p-datatable-tbody tr{
        &:nth-child(odd){
            background-color: $background-light;
        }
        &:nth-child(even){
            background-color: $background-dark;
        }
    }

    .pagination_div{
        display: flex;
        justify-content: end;
        margin-top: 10px;
    }
}

.datatable-scroll-demo .p-datatable-frozen-tbody {
    font-weight: bold;
}

.datatable-scroll-demo .p-datatable-scrollable .p-frozen-column {
    font-weight: bold;
}

.filter-table {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-table > div {
    margin-right: 5px;
    margin-left: 5px;
}