$primary: #01acca;
$secondary: #c3d600;
$light: #eaeaea;
$white: white;
$black: #636c72;

$background-dark: #C3D9FF;
$background-light: #E8EEF7;
$background-super-dark: #2A5DB0;

$text-dark: black;
$text-light: white;
